body {
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

body h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

body h2 {
  font-size: 25px;
}

header {
  font-family: 'Shrikhand', cursive;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

header p {
  top: -4px;
  padding: 10px;
  position: absolute;
  margin-left: 15px;
  margin-top: 20px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

header p:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer {
  background-color: rgba(0, 0, 0, 0.815);
  padding-bottom: 15px;
}

footer img {
  width: 20%;
  padding-left: 25px;
  padding-top: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer li {
  text-decoration: none;
  color: black;
  margin-top: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style: none;
  padding-left: 25px;
}

footer span {
  margin-left: 10px;
}

footer .forks {
  margin-left: 17px;
}

#explorer {
  text-align: center;
}

#explorer span p {
  font-weight: bold;
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

#explorer span p i {
  margin-right: 15px;
}

#explorer h2 {
  margin-top: 25px;
}

#explorer button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#explorer button span {
  color: white;
  font-size: 15px;
}

#fonctionnement {
  margin-left: 15px;
}

#fonctionnement ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 0px;
}

#fonctionnement li {
  margin-bottom: 25px;
}

#fonctionnement i {
  color: grey;
}

#fonctionnement span {
  color: black;
  margin-left: 15px;
  font-weight: bold;
}

#fonctionnement .filters {
  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 25px 35px;
  margin-right: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  font-size: 20px;
}

#fonctionnement .numbers {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -27px;
  top: 25px;
}

#restaurants {
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 50px;
}

#restaurants img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

#restaurants .nouveau {
  color: #1f7e66;
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 5px 15px;
  border-radius: 3px;
  font-weight: bold;
}

#restaurants .content {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

#restaurants h2 {
  margin-left: 15px;
}

#restaurants h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

#restaurants p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
}

#restaurants .heart {
  position: relative;
}

#restaurants .heart .heart-border {
  position: absolute;
  top: 17px;
  right: 35px;
}

#restaurants .heart .heart-border i {
  color: black;
}

#restaurants .heart .heart-border:hover {
  opacity: 0;
}

#restaurants .heart .heart-animation {
  position: absolute;
  top: 17px;
  right: 35px;
  opacity: 0;
}

#restaurants .heart .heart-animation i {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
}

#restaurants .heart .heart-animation:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

#restaurants .heart i {
  color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
}

.presentation img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  position: relative;
  top: -30px;
  background-color: #F2F2F2;
  padding-top: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#menu h1, #menu .plats {
  margin-left: 15px;
  margin-right: 15px;
}

#menu h1 {
  margin-top: 10px;
}

#menu .plats .noms p:after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 45px;
  margin-top: 3px;
}

.food {
  background-color: white(214, 27, 27);
  border-radius: 15px;
  color: black;
  padding: 5px 10px;
  margin-bottom: 15px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
}

.food h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.food p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.food span {
  float: right;
  font-weight: bold;
}

.plats .noms {
  margin-top: 40px;
}

form {
  text-align: center;
}

button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 35px;
  border: none;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button span {
  color: white;
  font-size: 15px;
}

.heart {
  position: relative;
}

.heart .heart-border {
  position: absolute;
  top: 17px;
  right: 35px;
}

.heart .heart-border i {
  color: black;
}

.heart .heart-border:hover {
  opacity: 0;
}

.heart .heart-animation {
  position: absolute;
  top: 17px;
  right: 35px;
  opacity: 0;
}

.heart .heart-animation i {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.heart .heart-animation:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.heart i {
  color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  background-color: #e71f1f;
  height: 100vh;
  inset: 0;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=main.css.map */