@keyframes apparition{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes check-spin{
    0%{
        transform: rotate(-360deg);
    }

    100%{
        transform: rotate(0);
    }
}