footer{
    background-color: rgba(0, 0, 0, 0.815);
    padding-bottom: 15px;

    p{
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 20px;
        padding-left: 25px;
        padding-top: 20px;
    }

    li{
        text-decoration: none;
        color: black;
        margin-top: 5px;
    }

    a{
        color: white;
        text-decoration: none;
    }

    ul{
        list-style: none;
        padding-left: 25px;
    }

    span{
        margin-left: 10px;
    }

    .forks{
        margin-left: 17px;
    }
}