footer{
    background-color: rgba(0, 0, 0, 0.815);
    padding-bottom: 15px;

    img{
        width: 20%;
        padding-left: 25px;
        padding-top: 20px;
        filter: invert(100%);
    }

    li{
        text-decoration: none;
        color: black;
    }

    a{
        color: white;
        text-decoration: none;
    }

    ul{
        list-style: none;
        padding-left: 25px;
    }

}